[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"
pytest-aiohttp = "*"
codecov = "*"
pylint = "*"
mypy = "*"
safety = "*"
bandit = "*"

[packages]
# aiohttp
aiohttp = "*"
idna-ssl = "*"
gunicorn = "*"
#uvloop
cython = "*"
uvloop = {git = "https://github.com/MagicStack/uvloop.git", ref = "releases"}
#sentry
sentry-sdk = "*"
aiohttp-sentry = "*"
# misc
hyperion-cli = "*"
pynacl = "*"
aiobreaker = "*"
dataclasses = "*"
marshmallow = ">=3rc1"
tortoise-orm = "*"
aiosqlite = "*"
# docs
sphinx = "*"
sphinx-autobuild = "*"
sphinx-rtd-theme = "*"
sphinxcontrib-mermaid = "*"
sphinx-autodoc-typehints = "*"

[requires]
python_version = "3.6"

[scripts]
server = "python -m server"
test = "python -m pytest --cov=server tests"
docs = "sphinx-build docs/source docs/build"
auto-docs = "sphinx-autobuild docs/source docs/build"

[pipenv]
allow_prereleases = true
