[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "==4.*"
pytest-cov = "*"
faker = "*"
codecov = "*"
pylint = "*"
mypy = "*"
safety = "*"
bandit = "*"

[packages]
# aiohttp
aiohttp = "==3.*"
idna-ssl = "*"
gunicorn = "*"
aiohttp-cors = "*"
#uvloop
cython = "*"
uvloop = ">=0.12rc1"
#sentry
sentry-sdk = "*"
aiohttp-sentry = "*"
# data
marshmallow = ">=3rc1"
marshmallow-jsonschema = "*"
tortoise-orm = {git = "https://github.com/arlyon/tortoise-orm.git",ref = "gis-experimental"}
asyncpg = "*"
aiosqlite = {git = "https://github.com/jreese/aiosqlite.git",ref = "master"}
contextvars = "*"
# docs
sphinx = "*"
sphinx-autobuild = "*"
sphinx-rtd-theme = "*"
sphinxcontrib-mermaid = "*"
sphinx-autodoc-typehints = "*"
# misc
hyperion-cli = "*"
pynacl = "*"
aiobreaker = "*"
python-jose = "*"
shapely = {extras = ["vectorized"],version = "*"}

[requires]
python_version = "3.6"

[scripts]
server = "python -m server"
test = "python -m pytest --cov=server tests"
lint = "python -m mypy"
docs = "sphinx-build docs/source docs/build"
auto-docs = "sphinx-autobuild docs/source docs/build"

[pipenv]
allow_prereleases = true
