[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
flake8 = "*"
pylint = "*"
mypy = "*"
safety = "*"
bandit = "*"
pytest-asyncio = "*"
sphinx = "*"
sphinx-autobuild = "*"
sphinx-rtd-theme = "*"
sphinxcontrib-mermaid = "*"

[packages]
aiohttp = "*"
hyperion-cli = "*"
pynacl = "*"
codecov = "*"
aiobreaker = "*"
sphinx-autodoc-typehints = "*"

[requires]
python_version = "3.6"

[scripts]
server = "python -m server"
test = "python -m pytest --cov=server tests"
docs = "sphinx-build docs/source docs/build"
